body {
    background-color: #063D6a;
 }

 
 pre {
    color: rgb(251, 255, 0); 
}

h1 {
    color: rgb(251, 255, 0);
    text-align: center; 
}

li {
    list-style-type: none;
    padding: 2em;
}


a {   
    font-size: 1.75vw;
    color:rgb(0, 255, 55);   
}


